.footer-main {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    font-size: .8rem;
    color: $lt-grey-txt;
    span {
        color: $orange-txt;
    }
}

.footer-icons {
    width: 12rem;
    margin: 0 auto;
    padding-top: 2rem;
}