.hero-main {
    background-color: #f5e3d7;
    .hero-img {
        grid-column: 1/ span 2;
        background-image: url(../media/images/home-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 110vh;
        @media all and (max-width: 768px) {
            grid-column: 1/ -1;
            background-size: cover;
            padding: 5rem;
            height: 110vh;
            margin-top: 4rem;
        }
    }
    .hero-text {
        grid-column: 3/ span 2;
        padding-top: 15rem;
        padding-left: 2.5rem;
        padding-right: 5rem;
        @media all and (max-width: 768px) {
            grid-column: 1/ -1;
            // height: 100%;
            background-size: cover;
            padding-top: 3rem;
            padding-left: 2.5rem;
            padding-right: 1.5rem;
            padding-bottom: 3rem;
        }
        h3 {
            color: $lt-grey-txt;
            text-transform: uppercase;
        }
        h2 {
            color: $dk-grey-txt;
            font-size: 2rem;
            padding: 2rem 0 2rem 0;
            line-height: 40px;
            strong {
                font-weight: bold;
                color: rgb(44, 44, 44);
            }
        }
        p {
            color: $lt-grey-txt;
            padding-bottom: 2rem;
        }
    }
}